In [98]:
# Dependencies
import pandas as pd
from pathlib import Path

In [99]:
# Store filepaths into variable
schools_data = Path("Resources/schools_complete.csv")
students_data = Path("Resources/students_complete.csv")

In [100]:
# Read School and Student Data file and store then inot Pandas dataframes
schools_df = pd.read_csv(schools_data)
students_df = pd.read_csv(students_data)

In [101]:
# combine the data into a single dataset
schools_complete = pd.merge(students_df, schools_df, on="school_name", how="left")
schools_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [102]:
# Calculate the total number of unique schools
total_schools = len(schools_complete["school_name"].unique())
total_schools

15

In [103]:
# Calculate the total number of students
student_count = sum(schools_complete["student_name"].value_counts())
student_count

39170

In [104]:
# Caluclate the total budget
total_budget = schools_complete["budget"].sum()
total_budget

82932329558

In [105]:
# Calculate the average (mean) math score
average_math_score = schools_complete["math_score"].mean()
average_math_score

78.98537145774827

In [106]:
# Caluclate the average (mean) reading score
average_reading_score = schools_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [107]:
# Calculate the % passing math (the percentage of students who passed math)
math_passing_count = schools_complete[(schools_complete["math_score"]>=70)].count()["student_name"]
math_passing_percentage = math_passing_count / float(student_count)*100
math_passing_percentage

74.9808526933878

In [108]:
# Calculate the % passing reading (the percentage of students who passed reading)
reading_passing_count = schools_complete[(schools_complete["reading_score"]>=70)].count()["student_name"]
reading_passing_percentage = reading_passing_count / float(student_count)*100
reading_passing_percentage

85.80546336482001

In [109]:
# Calculate the % overall passing (the percentage of students who passed math AND reading)
overall_passing = schools_complete[(schools_complete["math_score"]>=70) + (schools_complete["reading_score"]>=70)].count()["student_name"]
overall_passing_percentage = overall_passing / (student_count)*100
overall_passing_percentage

95.61399029869798

In [110]:
# High level snapshpt
district_summary = pd.DataFrame({ 
    "Total Students":[student_count],
    "Total Schools":[total_schools],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score": [average_reading_score], 
    "Math Passing Percentage":[math_passing_percentage],
    "Reading Passing Percentage":[reading_passing_percentage],
    "Overall Passing Percentage":[overall_passing_percentage] })

#Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
district_summary["Math Passing Percentage"] = district_summary["Math Passing Percentage"].map("{:,.2f}%".format)
district_summary["Reading Passing Percentage"] = district_summary["Reading Passing Percentage"].map("{:,.2f}%".format)
district_summary["Overall Passing Percentage"] = district_summary["Overall Passing Percentage"].map("{:,.2f}%".format)

# Display the DataFrame
district_summary

,Total Students,Total Schools,Total Budget,Average Math Score,Average Reading Score,Math Passing Percentage,Reading Passing Percentage,Overall Passing Percentage
0,"39,170",15,"$82,932,329,558.00",78.99,81.88,74.98%,85.81%,95.61%

School Summary

In [111]:
# School name and type
school_types = schools_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [112]:
# Calculate the total student per school
student_count = schools_complete["school_name"].value_counts()
student_count

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [113]:
# Calculate the total school budget per school
total_school_budget = schools_complete.groupby(["school_name"])["budget"].mean()
total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [114]:
# Calculate the per student budget
per_student_budget = total_school_budget/student_count
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [115]:
# Calculate the average math test scores per school
per_school_math = schools_complete.groupby(["school_name"])["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [116]:
# Calculate the average reading test scores per school
per_school_reading = schools_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [117]:
# Calculate the number of students per school with reading scores of 70 or higher form 
students_passing_math = schools_complete.loc[(schools_complete["math_score"]>=70),:]
school_students_passing_math = students_passing_math["school_name"].value_counts()
school_students_passing_math

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
Name: count, dtype: int64

In [118]:
# Calculate the number of students per school with math scores of 70 or higher form 
students_passing_reading = schools_complete.loc[(schools_complete["reading_score"]>=70),:]
school_students_passing_reading = students_passing_reading["school_name"].value_counts()
school_students_passing_reading

school_name
Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
Name: count, dtype: int64

In [119]:
# Calculate the number of students per school that passed math & reading with scores of 70 or higher from school_data_complete
students_passing_math_and_reading = schools_complete[
    (schools_complete["reading_score"] >= 70) & (schools_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [120]:
# High level snapshpt
school_summary = pd.DataFrame({ 
    "School Type": school_types,
    "Total Students":student_count,
    "Total School Budget":total_school_budget,
    "Student Budget": per_student_budget,
    "Average Math Score":per_school_math,
    "Average Reading Score": per_school_reading, 
    "Math Passing Percentage":school_students_passing_math,
    "Reading Passing Percentage":school_students_passing_reading,
    "Overall Passing Percentage":school_students_passing_math_and_reading })

# Formating
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Student Budget"] = school_summary["Student Budget"].map("${:,.2f}".format)


# Display the DataFrame
school_summary

,School Type,Total Students,Total School Budget,Student Budget,Average Math Score,Average Reading Score,Math Passing Percentage,Reading Passing Percentage,Overall Passing Percentage
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,2719
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,1697
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,1569
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,1487
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,1330
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,2481
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,381
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,1561
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,2549
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,871
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,2119
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,1583
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,1487
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,2068
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,1626

Highest-Performing Schools by % overall passing

In [121]:
# Sort the schools by % overall passing in descending order
top_schools = schools_complete.sort_values(["school_name"], ascending = False)
top_schools.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
25226,25226,Kayla Thornton,F,12th,Wright High School,81,84,10,Charter,1800,1049400
24798,24798,Gina Gould,F,11th,Wright High School,99,89,10,Charter,1800,1049400
24828,24828,Jonathan Thomas,M,12th,Wright High School,95,80,10,Charter,1800,1049400
24829,24829,John Lozano,M,11th,Wright High School,84,77,10,Charter,1800,1049400
24830,24830,Eric White,M,10th,Wright High School,95,81,10,Charter,1800,1049400

Lowest-Performing Schools by % overall passing

In [122]:
# Sort the schools by % overall passing in descending order
bottom_schools = schools_complete.sort_values(["school_name"], ascending = True)
bottom_schools.tail()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
24829,24829,John Lozano,M,11th,Wright High School,84,77,10,Charter,1800,1049400
24828,24828,Jonathan Thomas,M,12th,Wright High School,95,80,10,Charter,1800,1049400
24827,24827,Lori Ramirez,F,10th,Wright High School,74,74,10,Charter,1800,1049400
24797,24797,Scott Scott,M,10th,Wright High School,90,83,10,Charter,1800,1049400
26035,26035,Michael Holmes,M,9th,Wright High School,98,80,10,Charter,1800,1049400

Math Scores by Grade

In [123]:
# Dataframe that lists the average math score for students of each grade level
grade9_avg = schools_complete.loc[schools_complete["grade"]=="9th"].groupby(["school_name"])["math_score"].mean()
grade10_avg = schools_complete.loc[schools_complete["grade"]=="10th"].groupby(["school_name"])["math_score"].mean()
grade11_avg = schools_complete.loc[schools_complete["grade"]=="11th"].groupby(["school_name"])["math_score"].mean()
grade12_avg = schools_complete.loc[schools_complete["grade"]=="12th"].groupby(["school_name"])["math_score"].mean()

# combine the series into a dataframe
grade_summary_df = pd.DataFrame({
    "9th Grade": grade9_avg,
    "10th Grade": grade10_avg,
    "11th Grade": grade11_avg,
    "12th Grade": grade12_avg})

grade_summary_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

Reading Scores by Grade

In [124]:
# Dataframe that lists the average reading score for students of each grade level
grade9_avg = schools_complete.loc[schools_complete["grade"]=="9th"].groupby(["school_name"])["reading_score"].mean()
grade10_avg = schools_complete.loc[schools_complete["grade"]=="10th"].groupby(["school_name"])["reading_score"].mean()
grade11_avg = schools_complete.loc[schools_complete["grade"]=="11th"].groupby(["school_name"])["reading_score"].mean()
grade12_avg = schools_complete.loc[schools_complete["grade"]=="12th"].groupby(["school_name"])["reading_score"].mean()

# combine the series into a dataframe
grade_summary_df = pd.DataFrame({
    "9th Grade": grade9_avg,
    "10th Grade": grade10_avg,
    "11th Grade": grade11_avg,
    "12th Grade": grade12_avg})

grade_summary_df

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

Scores by School Spending

In [125]:
# Creating Bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [126]:
# Use pd.cut to categorize spending based on the bins.
school_spending = school_summary.copy()

school_spending["Spending Ranges (Per Student)"] = pd.cut(per_student_budget,spending_bins, labels=labels)
school_spending

,School Type,Total Students,Total School Budget,Student Budget,Average Math Score,Average Reading Score,Math Passing Percentage,Reading Passing Percentage,Overall Passing Percentage,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,2719,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,1697,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,1569,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,1487,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,1330,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,2481,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,381,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,1561,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,2549,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,871,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,2119,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,1583,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,1487,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,2068,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,1626,<$585

In [127]:
# calculate mean scores per spending range.
spending_math_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending.groupby(["Spending Ranges (Per Student)"])["Math Passing Percentage"].mean()
spending_passing_reading = school_spending.groupby(["Spending Ranges (Per Student)"])["Reading Passing Percentage"].mean()
overall_passing_spending = school_spending.groupby(["Spending Ranges (Per Student)"])["Overall Passing Percentage"].mean()

overall_passing_spending

C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\3496007563.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\3496007563.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\3496007563.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending.groupby(["Spending Ranges (Per Student)"])["Math Passing Percentage"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\3496007563.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending.groupby(["Spending Ranges (Per Student)"])["Reading Passing Percentage"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\3496007563.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending.groupby(["Spending Ranges (Per Student)"])["Overall Passing Percentage"].mean()

Spending Ranges (Per Student)
<$585       1443.00
$585-630    1625.75
$630-645    1665.50
$645-680    2197.00
Name: Overall Passing Percentage, dtype: float64

Scores by School Size

In [128]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [129]:
# Use pd.cut to categorize spending based on the bins.
size_summary = school_summary.copy()

size_summary["School Size"] = pd.cut(student_count, size_bins, labels=labels)
size_summary

,School Type,Total Students,Total School Budget,Student Budget,Average Math Score,Average Reading Score,Math Passing Percentage,Reading Passing Percentage,Overall Passing Percentage,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,3318,4077,2719,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,1749,1803,1697,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,1946,2381,1569,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,1871,2172,1487,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,1371,1426,1330,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,3094,3748,2481,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,395,411,381,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,1916,2372,1561,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,3145,3867,2549,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,910,923,871,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,2654,3208,2119,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,1653,1688,1583,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,1525,1591,1487,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,2143,2204,2068,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,1680,1739,1626,Medium (1000-2000)

In [130]:
# calculate mean scores per spending range.
size_math_scores = size_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = size_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = size_summary.groupby(["School Size"])["Math Passing Percentage"].mean()
size_passing_reading = size_summary.groupby(["School Size"])["Reading Passing Percentage"].mean()
size_overall_passing = size_summary.groupby(["School Size"])["Overall Passing Percentage"].mean()

size_overall_passing

C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\2196217641.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = size_summary.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\2196217641.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = size_summary.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\2196217641.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = size_summary.groupby(["School Size"])["Math Passing Percentage"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\2196217641.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = size_summary.groupby(["School Size"])["Reading Passing Percentage"].mean()
C:\Users\eadeo\AppData\Local\Temp\ipykernel_2624\2196217641.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = size_summary.groupby(["School Size"])["Overall Passing Percentage"].mean()

School Size
Small (<1000)          626.000
Medium (1000-2000)    1544.600
Large (2000-5000)     2069.125
Name: Overall Passing Percentage, dtype: float64

Scores by School Type

In [131]:
type_summary = school_summary.drop(columns=["Total Students","Total School Budget", "Student Budget"])
type_summary

,School Type,Average Math Score,Average Reading Score,Math Passing Percentage,Reading Passing Percentage,Overall Passing Percentage
school_name,,,,,,
Bailey High School,District,77.048432,81.033963,3318,4077,2719
Cabrera High School,Charter,83.061895,83.975780,1749,1803,1697
Figueroa High School,District,76.711767,81.158020,1946,2381,1569
Ford High School,District,77.102592,80.746258,1871,2172,1487
Griffin High School,Charter,83.351499,83.816757,1371,1426,1330
Hernandez High School,District,77.289752,80.934412,3094,3748,2481
Holden High School,Charter,83.803279,83.814988,395,411,381
Huang High School,District,76.629414,81.182722,1916,2372,1561
Johnson High School,District,77.072464,80.966394,3145,3867,2549
Pena High School,Charter,83.839917,84.044699,910,923,871
Rodriguez High School,District,76.842711,80.744686,2654,3208,2119
Shelton High School,Charter,83.359455,83.725724,1653,1688,1583
Thomas High School,Charter,83.418349,83.848930,1525,1591,1487
Wilson High School,Charter,83.274201,83.989488,2143,2204,2068
Wright High School,Charter,83.682222,83.955000,1680,1739,1626